<div id="sidebar" class="col-md-4">
  <div class="search-box-container">
    <h4>Search</h4>
    <form class="search-post" action="/search" method="GET">
      <div class="input-group">
        <input
          type="text"
          name="search"
          class="form-control"
          placeholder="Search ....."
        />
        <span class="input-group-btn">
          <button type="submit" class="btn btn-danger">Search</button>
        </span>
      </div>
    </form>
  </div>

  <div class="recent-post-container">
    <h4>Recent Posts</h4>
    <%latestNews.map((news) => {%>
    <div class="recent-post">
      <a class="post-img" href="">
        <img src="<%= news.image %>" alt="" />
      </a>
      <div class="post-content">
        <h5>
          <a href="/single/<%= news._id %>"><%=news.title%></a>
        </h5>
        <span>
          <i class="fa fa-tags" aria-hidden="true"></i>
          <a href="/category/<%= news.category.slug%>"
            ><%=news.category.name%></a
          >
          >
        </span>
        <span>
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <%=news.createdAt.toLocaleDateString('en-GB', { day: '2-digit', month:
          'short', year: 'numeric' })%>
        </span>
        <a class="read-more" href="/single/<%= news._id %>">read more</a>
      </div>
    </div>
    <%})%>
  </div>
</div>
